extends ../layouts/default
block intro
	.list-group
			a(href="#",onclick="history.go(-1);return false;") 返回
block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			
			if !data.post
				h2 无效的文章
			else
				header
					h1= data.post.title
					h4.text-right 
						if data.post.publishedDate
							| #{data.post._.publishedDate.format('YYYY年MM月DD日')} 
						
				.post
					!= data.post.content.full
				.tags
					if data.post.categories && data.post.categories.length
												| 标签： 
												each cat, cat_i in data.post.categories
													a(href='/timeline/' + cat.key)= cat.name
													if cat_i < data.post.categories.length - 1
														| , 
													else
														|  