body{
 background: $bgcolor;
 color:$normaltextcolor;
 font: 14px 'New York','Times New Roman','Apple LiSung Light','Microsoft YaHei Light','Microsoft YaHei',serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Georgia','Times New Roman','LiHei Pro Medium,''Apple LiSung Light','Microsoft YaHei',serif;
}
.container{
	max-width:960px;
}

#footer{	
	height:100px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1{
	text-align: center;
}
.container.title{
	padding:25px;
	border-radius:68px;
	h1{
		margin:0;
	}
}

.timeline{
	position: relative;
	&:after{
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		left:50%;
		transform: translateX(-50%);
		width:10px;
		background:rgba(0,0,0,.2);
		border-radius:5px;
		z-index: -1;
	}
	@media (max-width: $screen-sm) {
		margin-left: -50%;
	}
}

.tofade{
	opacity:0!important;
	transform: translate3d(0,100%,0)!important;
	transition:all .5s ease-in;
	
}
.blog{
	padding:32px 0;
}
.post{
	opacity:1;
	transform:translate3d(0,0,0);
	transition:all .5s ease-in;
	margin:12px 0;
	.read-more{
		
		display: inline-block;
		padding: 0 18px;
		height: 38px;
		line-height: 38px;
		border: 1px solid rgba(0,0,0,.7);
		color: black;
		transition: all 0.15s ease-in;
		border-radius: 23px;
		margin: 13px 0 0 0;
		&:hover{
			text-decoration: none;	
			background:rgba(255,255,255,.8);
			
		}
	}
	.date{
		font-style: italic;	
	}
	.year{
		//font-size: 1em;
		margin: 0;
		color: $minortextcolor;
		//padding: 0;
		//line-height: .8;
		font-style: italic;
	}
	@include clearfix;
	width:100%;
	.time{
		padding:25px 30px 0 0;
		width:50%;
		float:left;
		font-size:1.6em;
		text-align: right;
		
	}
	.content{
		position: relative;
		padding:25px 0 25px 20px ;
		width:50%;
		float:left;
		//margin-left:-10px;
		//border-left: 20px $linecolor solid;
		
		color:black;
		h2{
			margin: 0 0 .25em;
			
			position:relative;
			display: inline-block;
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				height: 1px;
				left: 0;
				background: black;
				right: 0;
				transform: scale(0) translate3d(0,0,0);
				transition: all .18s cubic-bezier(.73,.07,.73,.96);
				transform-origin: 0 50%;
			}
		}
		p{
			color:#333;
		}
		.tags a{
			color:#111;
		}
		.inner>*{
			transition:all .35s cubic-bezier(1,.01,.59,1);	
		}
		&:after{
			content: '';
			position: absolute;
			left: -10px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #ceeece;
			border: 5px solid #2574a9;
			top: 35px;
			z-index: 1;
			box-shadow: 0 0 1px rgba(0,0,0,.5);
		}
		
		&:hover{//parent hover
			h2{
				&:after{
					transform: scale(1) translate3d(0,0,0);	
				}
			}
			.inner{
				h2{
				transform:translateX(9px);
				}
				&>div{
				transform:translateX(12px);
				}
				a{
					transform:translateX(13px);
				}
			}
		}
	}
	@media (min-width: $screen-sm) {
		&.opp{
			.time{
				text-align: left;
				float:right;
				padding: 25px 0 0 30px;
			}
			.content{
				float:right;
				text-align:right;
				padding: 25px 20px 25px 0;
				&:after{
					left:auto;
					right:-10px;
				}
				&:hover{//parent hover

					.inner{
						h2{
							transform:translateX(-9px);
							}
							&>div{
							transform:translateX(-12px);
							}
							a{
								transform:translateX(-13px);
							}
					}
				}
			}
		}
	}
}
.maindate{
	opacity:1;
	transform:translate3d(0,0,0);
	transition:all .5s ease-in;
	text-align: center;
	span{
		display: inline-block;
		background: rgb(37,116,169);
		padding: 0 12px;
		height: 32px;
		line-height: 32px;
		border-radius: 16px;
		margin: 12px;
		color: white;
		box-shadow: 0 0 3px rgba(0,0,0,.45);
	}
	
}
