// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

$bgcolor: #81CFE0;
$linecolor: #138B93;//#1E8BC3;//19B5FE;

$minortextcolor:#67809F;
$normaltextcolor:#22313f;
$linkcolor:$normaltextcolor;